* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(12px, 2vw, 16px);
  background-color: #fff;
  color: #333;
}

p {
  font-size: clamp(12px, 1.1vw, 16px);
  font-weight: 500;
  margin: 0.5rem;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin: 1rem;
}

h1 {
  font-size: clamp(20px, 5vw, 36px);
}

h2 {
  font-size: clamp(18px, 4vw, 28px);
}

h3 {
  font-size: clamp(16px, 3vw, 22px);
}

.kufam {
  font-family: 'Kufam', sans-serif;
}

.bold {
  font-weight: 700 !important;
}

.italic {
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffdab9;
  margin: auto;
}

.hero {
  background: url('Image-20250409-195327.jpeg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: relative;
  background-position: 50% 100%;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero * {
  position: relative;
  z-index: 2;
}

.section {
  width: 100%;
  max-width: 768px;
  margin: 0 auto; /* Center the map */
  text-align: center;
  padding: 20px;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  max-width: 768px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-card {
  width: 100%;
  max-width: 720px;
  max-height: 480px;
  object-position: 100% 25%;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.map-responsive {
  position: relative;
  padding-bottom: 75%; /* 4:3 aspect ratio */
  height: 0;
  overflow: hidden;
  border-radius: 10px;
}

.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
